<div class="card lecture image-card">
    <img class="card-img-top" src="<%= video.thumbnail %>" alt="Card image cap"
        style="height: 139px; object-fit: cover;">
    <div class="video-duration">
      <%= video.duration %>
    </div>
    <div class="card-body">
      <%= link_to video.link,
          target: "_blank",
          class: "btn btn-sm btn-outline-primary mb-3 btn-primary-icon btn-icon-wrap" do %>
          <%= octicon "link-external",
          width: 16,
          height: 16,
          class: "btn-icon mr-1 my-auto",
            "aria-label": "Открыть" %>
            Открыть
      <% end %>
      <div class="card-title"><%= video.title %></div>
      <small class="card-text text-secondary"><%= video.description[0,144] %>...</small>
    </div>
    <div class="card-footer d-flex justify-content-between align-items-center">
      <small class="text-muted">
        <%= video.created_at.strftime("%-d %B %Y") %>
      </small>
      <%= link_to [:admin, video.msu_discipline, video],
          method: :delete,
          data: { confirm: 'Are you sure?' },
          remote: true do %>
        <button type="button" class="btn btn-sm btn-outline-danger btn-danger-icon btn-icon-wrap">
          <%= octicon "trashcan",
          width: 16,
          height: 16,
          class: "btn-icon mr-1 my-auto",
            "aria-label": "Открыть" %>
          Удалить
        </button>
      <% end %>
    </div>
  </div>
