<% content_for :title do %>
  <title>
    <%= @discipline.title %> |  MSUniversity
  </title>
<% end %>

<% content_for :menu do %>
  <%= link_to root_path,
      class: "go-back" do %>
    <%= octicon "chevron-left",
          style: 'margin-right: 5px',
          width: 10,
          height: 20,
          "aria-label": "Меню" %>
    <div class="title">
      Дисциплины
    </div>
  <% end %>
<% end %>

<div class="container-fluid main-wrap">
  <h1 class="discipline-main-title" style="margin-bottom: 1em">
    <%= @discipline.title %>
  </h1>

  <nav class="mx-auto" style="border-bottom: 1px solid #e9ecef;">
    <div class="nav nav-tabs border-0"
          id="nav-tab"
          role="tablist">
      <a class="nav-item nav-link active py-3"
          id="nav-lecture-tab"
          data-toggle="tab"
          href="#nav-lectures"
          role="tab"
          aria-controls="nav-lectures"
          aria-selected="true">
            <small>
              Лекции
            </small>
      </a>
      <a class="nav-item nav-link py-3"
          id="nav-books-tab"
          data-toggle="tab"
          href="#nav-books"
          role="tab"
          aria-controls="nav-books"
          aria-selected="true">
            <small>
              Книги
            </small>
        </a>
      <a class="nav-item nav-link py-3"
          id="nav-videos-tab"
          data-toggle="tab"
          href="#nav-videos"
          role="tab"
          aria-controls="nav-videos"
          aria-selected="true">
            <small>
              Видео
            </small>
        </a>
    </div>
  </nav>
  <!-- END Nav menu -->

  <div class="d-flex flex-column mx-auto" style="max-width:800px; min-height: 400px;">
  <!-- Nav content -->
  <div class="tab-content" id="nav-tabContent">
    <div class="tab-pane show active fade"
         id="nav-lectures"
         role="tabpanel"
         aria-labelledby="nav-lectures-tab">

      <%= render partial: '/lectures/lectures',
          object: @discipline.msu_lectures %>

    </div>

    <div class="tab-pane fade"
         href="nav-books"
         id="nav-books"
         role="tabpanel"
         aria-labelledby="nav-books-tab">
      <%= render partial: '/files/books',
          object: @discipline.msu_files.where(filetype: 'book') %>
    </div>

    <div class="tab-pane fade"
         id="nav-videos"
         role="tabpanel"
         aria-labelledby="nav-videos-tab">
      <%= render partial: '/videos/videos',
         object: @discipline.msu_videos %>
    </div>
  </div>
  <!-- END Nav content -->
  <!-- <div class="card-columns">
    <% if @discipline.msu_lectures.any? %>
    <div class="card">
      <div class="card-body">
        <h3 class="py-3">
          Лекции
        </h3>
        <%= render partial: '/lectures/lectures',
        object: @discipline.msu_lectures %>
      </div>
    </div>
    <% end %>

    <% if @discipline.msu_lectures.any? %>
    <div class="card">
      <div class="card-body">
        <h3 class="py-3">
          Презентации
        </h3>
        <% @discipline.msu_lectures.each do |lec| %>
        <% if lec.msu_presentations.any? %>
        <div class="book-client py-4 border-top">
          <div class="book-title">
            <%= lec.title %>
          </div>
          <%= render partial: '/presentations/presentations',
          object: lec.msu_presentations %>
        </div>
        <% end %>
        <% end %>
      </div>
    </div>
    <% end %>

    <% if @discipline.msu_files.where(filetype: 'book').any? %>
    <div class="card">
      <div class="card-body">
        <h3 class="py-3">
          Книги
        </h3>
        <%= render partial: '/files/books',
        object: @discipline.msu_files.where(filetype: 'book') %>
      </div>
    </div>
    <% end %>

    <%  if @discipline.msu_videos.any?  %>
    <div class="card">
      <div class="card-body">
        <h3 class="py-3">
          Видео
        </h3>
        <%= render partial: '/videos/videos',
        object: @discipline.msu_videos %>
      </div>
    </div>
    <% end %>

  </div> -->
</div>
