<% content_for :title do %>
  <title>
    <%= @lecture.title %> |  MSUniversity
  </title>
<% end %>

<% content_for :menu do %>
  <%= link_to d_path(@lecture.msu_discipline.id),
      class: "go-back" do %>
    <%= octicon "chevron-left",
          style: 'margin-right: 5px',
          width: 10,
          height: 20,
          "aria-label": "Меню" %>
    <div class="title discipline-name" style="">
      <%= @lecture.msu_discipline.title %>
    </div>
  <% end %>
  <div class="mobile-menu-toggle book-botton blue-shadow" onclick="showNav()">
    <%= octicon "three-bars",
        style: '',
        width: 20,
        height: 20,
        "aria-label": "Меню" %>
      <small class="ml-1 mr-1" style="">
        Меню
      </small>
  </div>
<% end %>

<div class="lectures-nav desktop">
  <small class="text-muted">
    Навигация по лекциям
  </small>
  <%= render partial: '/lectures/lectures_mini',
             locals: {lectures: @lecture.msu_discipline.msu_lectures } %>
</div>

<div class="col-md-8 col-lg-9 col-xl-7 main-wrap" id="main-wrap">
  <%= render partial: '/navigation', locals: {discipline: @lecture.msu_discipline, lecture: @lecture} %>
  <main>
    <h1 style="margin-bottom: 30px;">
      <%= @lecture.title %>
    </h1>

    <div class="nav-wrap">
      <% if @lecture.prev %>
        <%= link_to l_id_path(discipline_id: @lecture.msu_discipline.id, id: @lecture.prev.id),
            class: "book-botton blue-shadow",
            title: "#{@lecture.prev.title}" do %>
        <%= octicon "chevron-left",
            width: 32,
            height: 32,
            "aria-label": "Предыдущая лекция" %>
        <% end %>
      <% end %>

      <% if @lecture.next %>
        <%= link_to l_id_path(discipline_id: @lecture.msu_discipline.id, id: @lecture.next.id),
            class: "book-botton blue-shadow ml-auto",
            title: "#{@lecture.next.title}" do %>
        <%= octicon "chevron-right",
            width: 32,
            height: 32,
            "aria-label": "Следующая лекция" %>
        <% end %>
      <% end %>
    </div>

    <div id="lecture_content"
         style="margin-top: 50px">
      <%= @lecture.content %>
    </div>
  </main>

</div>


<script>
  $(document).ready(function(){
  //   $('#lecture_content').html(marked("<%= j @lecture.content %>"));

    var text = "<%= j @lecture.content %>",
        target = document.getElementById('lecture_content'),
        converter = new showdown.Converter({
          headerLevelStart: 3,
          simpleLineBreaks: true
        }),
        html = converter.makeHtml(text);

    target.innerHTML = html;

    $('p').each(function(){
      var alt = $(this).children('img').attr('alt');
      if (alt) {
        $(this).append("<div class='img-caption'>" + alt + "</div>");
      }
    });
  });
</script>
