<div id="errors" style="display:none;"></div>

<%= form_for [:admin, @discipline, @file],
    remote: true do |f| %>
  <%= f.hidden_field :filetype, value: params[:filetype] %>
  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <span class="input-group-text"
            id="basic-addon1"
            style="width:100px">Название</span>
    </div>
    <%= f.text_field :name,
        class: "form-control",
        "aria-label": "Название",
        "aria-describedby": "basic-addon1" %>
  </div>

  <button class="btn btn-outline-secondary btn-sm my-3"
          type="button"
          data-toggle="collapse"
          data-target="#collapseFile"
          aria-expanded="false"
          aria-controls="collapseLink">
      .zip архив
  </button>

  <button class="btn btn-outline-secondary btn-sm my-3"
          type="button"
          data-toggle="collapse"
          data-target="#collapseLink"
          aria-expanded="false"
          aria-controls="collapseLink">
      Ссылка на страницу в магазине
  </button>

  <div class="collapse mb-3" id="collapseFile">
    <div class="card card-body">
      <div class="input-group input-group-sm my-2">
        <div class="input-group-prepend">
          <span class="input-group-text"
                style="width:100px">Книга</span>
        </div>
        <div class="custom-file">
          <%= f.file_field :file,
            class: "custom-file-input",
            id: "inputGroupFile01",
            accept: '.zip, .rar',
            onchange: "$('#fileFieldLabel').text(this.value)" %>
          <label class="custom-file-label"
                 for="inputGroupFile01"
                 id="fileFieldLabel">
            .zip-архив
          </label>
        </div>
      </div>
    </div>
  </div>

  <div class="collapse mb-3" id="collapseLink">
    <div class="card card-body">
      <div class="input-group input-group-sm my-2">
        <div class="input-group-prepend">
          <span class="input-group-text"
          id="basic-addon2"
          style="width:100px">Ссылка</span>
        </div>
        <%= f.text_field :link,
        class: "form-control",
          "aria-label": "Название",
          placeholder: "amazon, ebay, ozon, ...",
          "aria-describedby": "basic-addon1" %>
        </div>
    </div>
  </div>

  <div class="d-flex justify-content-end mt-3">
    <%= f.submit "Подтвердить",
    class: 'btn btn-sm btn-outline-primary' %>
  </div>


<% end %>
