<div id="errors" style="display:none;"></div>

<%= form_for [:admin, @discipline, @file],
    remote: true do |f| %>
  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <span class="input-group-text"
            id="basic-addon1"
            style="width:100px">Название</span>
    </div>
    <%= f.text_field :name,
        class: "form-control",
        "aria-label": "Название",
        "aria-describedby": "basic-addon1" %>
  </div>

  <div class="input-group input-group-sm my-3">
    <div class="input-group-prepend">
      <span class="input-group-text"
            style="width:100px">Файл</span>
    </div>
    <div class="custom-file">
      <%= f.file_field :file,
        class: "custom-file-input",
        id: "inputGroupFile01",
        accept: '.zip, .rar',
        onchange: "$('#fileFieldLabel').text(this.value)" %>
      <label class="custom-file-label"
              for="inputGroupFile01"
              id="fileFieldLabel">
        .zip-архив
      </label>
    </div>
  </div>

  <div class="input-group input-group-sm my-3">
    <div class="input-group-prepend">
      <span class="input-group-text"
      id="basic-addon2"
      style="width:100px">Ссылка</span>
    </div>
    <%= f.text_field :link,
    class: "form-control",
      "aria-label": "Название",
      placeholder: "www.example.com",
      "aria-describedby": "basic-addon1" %>
  </div>

  <div class="card my-5">
    <div class="card-body">
      <div class="card-title">
        Категория
      </div>
      <div class="input-group input-group-sm my-4">
        <%= f.text_field :filetype,
            placeholder: "Введите новую или выберите существующую",
            class: "form-control",
            "aria-label": "Категория файла",
            id: 'filetype_input',
            autocomplete: 'off',
            "aria-describedby": "basic-addon1" %>
      </div>
      <div class="filetypes">
        <% MsuFiletype.all.each do |ft| %>
          <div class="btn btn-sm btn-outline-info filetype"
                id="<%= ft.id %>">
            <%= ft.name %>
          </div>
        <% end %>
      </div>
    </div>
  </div>

  <div class="d-flex justify-content-end mt-5">
    <%= f.submit "Подтвердить",
    class: 'btn btn-sm btn-outline-primary' %>
  </div>
<% end %>

<script>
  var ftps = $(".filetypes div");
  $("#filetype_input").on('input', function(e) {
    ftps.each(function( index, ftp ) {
      if (ftp.innerText.toLowerCase() == e.target.value.toLowerCase()) {
        console.log(index, ftp.innerText.toLowerCase());
        $(ftps).removeClass( "btn-info" ).addClass( "btn-outline-info" );
        $(ftp).removeClass( "btn-outline-info" );
        $(ftp).addClass( "btn-info" );
        return false
      } else {
        $(ftps).removeClass( "btn-info" ).addClass( "btn-outline-info" );
      };
    });
  });

  ftps.click(function (e) {
    $('#filetype_input')[0].value = e.target.innerText;
    $(ftps).removeClass( "btn-info" ).addClass( "btn-outline-info" );
    $(e.target).removeClass( "btn-outline-info" );
    $(e.target).addClass( "btn-info" );
  });
</script>