<nav class="row navbar navbar-light navbar-expand-lg border-bottom">
  <div class="navbar-brand"><%= current_user.name %></div>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <%= link_to root_path,
            target: "_blank",
            class: "nav-link" do %>
          MSUniversity
        <% end %>
      </li>
      <li class="nav-item <%= current_controller?('msu_disciplines') %>">

        <%= link_to [:admin, :msu_disciplines],
                  class: "nav-link" do %>
          Панель дисциплин
        <% end %>
      </li>
      <% if current_user.admin %>
        <li class="nav-item <%= current_controller?('msu_users') %>">
          <%= link_to [:admin, :msu_users],
                    class: "nav-link" do %>
            Пользователи
          <% end %>
        </li>
      <% end %>
      <li class="nav-item">
        <%= link_to '/logout',
            method: :delete,
            data: { confirm: 'Are you sure?' },
            class: "nav-link" do %>
          Выйти
        <% end %>
      </li>
    </ul>
  </div>
</nav>
