<div id="for-alert"></div>
<!-- Modal -->
<div class="modal fade bring-to-front" id="imagesUploadModal"
     tabindex="-1"
     role="dialog"
     aria-labelledby="imagesUploadModal"
     aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Выберите изображения</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" id="imagesUploadModalBody">
        <!-- Здесь форма -->
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Отмена</button>
        <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row justify-content-center">
    <div class="col-9">
      <%= form_for [:admin, @lecture.msu_discipline, @lecture], remote: true do |f| %>

        <div class="row p-3 edit-menu justify-content-between">

            <%= link_to "Завершить редактирование", [:admin, @lecture.msu_discipline, @lecture],
              onclick: "$('#lectureSave').click();",
              class: "btn btn-sm btn-outline-primary" %>

            <%= f.submit "Сохранить",
              class: "btn btn-sm btn-outline-success",
              remote: true,
              onclick: "saved()",
              id: "lectureSave" %>

        </div>

        <div class="row">
          <h1>
            <%= f.text_area :title,
                class: 'col lecture-name-input save-me',
                placeholder: 'Здесь название лекции',
                autofocus: true,
                id: "title_area",
                'data-autoresize': true %>
          </h1>
        </div>

        <div class="row">
          <div class="col text-secondary text-right mb-3">
            <%= @lecture.msu_discipline.title %>
          </div>
        </div>

        <div class="row">
          <div class="col">
            <%= f.text_area :content,
                class: "save me",
                id: "content_editor" %>
          </div>
        </div>

      <% end %>
    </div>

    <div class="col-3 py-3" style="height: 100vh;overflow: auto;position: sticky;top: 0px;">
      <%= link_to [:new, :admin, @lecture, :msu_image],
          remote: true,
          class: "btn btn-sm btn-outline-primary btn-block",
          "data-toggle": "modal",
          "data-target": "#imagesUploadModal"  do %>
          Добавить изображения
      <% end %>
      <div class="my-3 border-top border-bottom">

        <% if @lecture.msu_images.any? %>
          <div class="text-secondary text-right mt-2 mb-3"
               id="images-list">
            <%= octicon "info",
                :height => 18,
                color: "secondary",
                class: "button-icon mx-auto ml-2",
                "aria-label": "Подсказчик",
                "data-toggle": "tooltip",
                "data-placement": "left",
                "title": "1. Скопируйте ссылку на изображение; 2. Вставьте ссылку в редактор лекции" %>

          </div>
          <% @lecture.msu_images.each do |img| %>
            <%= render img %>
          <% end %>
        <% else %>
          <div class="text-secondary text-center my-3">
            У этой лекции нет изображений
          </div>
        <% end %>



      </div>
  </div>
</div>
</div>

<% content_for :page_scripts do %>
  <script>
    var unsaved = false;
    var simplemde = new SimpleMDE({
      element: $("#content_editor")[0],
      spellChecker: false
      });

    $(function () {
      $('[data-toggle="tooltip"]').tooltip()
    })

    jQuery.each(jQuery('textarea[data-autoresize]'), function() {
        var offset = this.offsetHeight - this.clientHeight;
        var resizeTextarea = function(el) {
            jQuery(el).css('height', 'auto').css('height', el.scrollHeight + offset);
        };
        jQuery(this).on('keyup input', function() { resizeTextarea(this); }).removeAttr('data-autoresize');
    });

    function saved() {
      $("#lectureSave").removeClass("btn-success");
      $("#lectureSave").addClass("btn-outline-success");
    }

    function edited() {
      $("#lectureSave").removeClass("btn-outline-success");
      $("#lectureSave").addClass("btn-success");
    }

    $(".save-me").keypress(function() {
      edited();
    });

    simplemde.codemirror.on("change", function(){
      edited();
    });

  </script>
<% end %>
