<% if @discipline.msu_files.count > 3 %>
  <%= render partial: 'admin/msu_files/filter', locals: {files: @discipline.msu_files} %>
<% end %>

<% files.each do |file| %>
    <div class="file-client presentation-client file-with-filetype <%= file.filetype %>"
      style="block">
    
      <div class="client-lecture-title">
        <%= file.name %>
      </div>
    
      <div class="d-flex justify-content-between align-items-center"
          style="padding: 0 0 0.5em 2em;">
        <small class="file-category">
          <div class="<%= file.filetype %>-color filetype-color-in-file mr-2"></div>
          <%= file.filetype %>
        </small>
        <div class="d-flex justify-content-end">
          <% if file.file? %>
            <%= link_to file.file.url, class: 'book-botton blue-shadow' do %>
              <%= octicon "arrow-down",
                width: 20,
                height: 20,
                class: "button-icon",
                "aria-label": "Скачать" %>
              <small class="mr-1">Скачать</small>
            <% end %>
          <% end %>
          
          <% if file.link? %>
            <%= link_to file.link,
                target: '_blank',
                class: 'book-botton blue-shadow' do %>
              <%= octicon "link-external",
                width: 20,
                height: 20,
                class: "button-icon",
                "aria-label": "Открыть" %>
            <% end %>
          <% end %>
        </div>
      </div>
    
    </div>
<% end %>