<div class="row discipline-menu-header border-bottom">
  <!-- Disciplines header -->
  <div class="col-10 py-3 align-self-center">
    <div class="text-secondary">
      Список дисциплин
        <%  if @disciplines.any?  %>
          <span class="ml-2 badge badge-pill badge-secondary">
            <%= @disciplines.count%>
          </span>
        <% end %>
    </div>
  </div>
  <%= link_to [:new, :admin, :msu_discipline],
      id: 'new_discipline',
      remote: true,
      class: "col-2 card-botton card-botton-primary d-flex align-items-center justify-content-center" do %>
    <%= octicon "plus",
        height: 36,
        "aria-label": "Добавить дисциплину",
        "data-toggle": "modal",
        "data-target": "#newDisciplineModal"  %>
  <% end %>
</div>

<div class="modal fade bring-to-front" id="formDisciplineModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="formDisciplineModal"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h6 class="modal-title text-secondary" id="formDisciplineModalLabel"></h6>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" id="formDisciplineModalBody">
        <!-- Здесь форма -->
      </div>
    </div>
  </div>
</div>

  <!-- Disciplines list -->

  <div id="disciplines">
    <% if @disciplines.any? %>
      <% @disciplines.each do |d| %>
        <%= render partial: '/admin/msu_disciplines/discipline_menu_item',
            locals: {discipline: d} %>
      <% end %>
    <% else %>
      <%= render partial: 'admin/empty' %>
    <% end %>
  </div>
