var error = "<%= j flash[:danger] %>";
var edited_discipline_name = $('#discipline-<%= @discipline.id %>-name');
var edited_discipline = $('#discipline-<%= @discipline.id %>');
var badge = "";
<%  if @discipline.msu_lectures.any?  %>
  badge = "<span class='ml-2 badge badge-pill badge-secondary'><%= @discipline.msu_lectures.count%></span>"
<% end %>
if (error){
    $("#discipline-errors").addClass("text-danger mb-3");
    $("#discipline-errors").html(error);
    $("#discipline-errors").show(200);
} else {
  $('#formDisciplineModal').modal('hide');

  edited_discipline_name.html('<%= @discipline.title %>' + badge);
  if (edited_discipline.hasClass('discipline-active')){
    $('#active-discipline-title').text('<%= @discipline.title %>');
    $("#discipline-tab-title").text("<%= j @discipline.title %> | MSUniversity");
  }
}
